//colors
// neutrals
$white: #fff;
$black: #333333;

$main-l1: #30313f;
$main-l2: #393a4a;
$main-l3: #6b6c7e;
$main-l4: #a7a9bc;
$main-l5: #cdced9;
$main-l6: #e7e7ed;

$text: #fff;
$background: #13141f;
$primary: #0b5fff;
$secondary: #0084ff;
$accent: #fc3bba;
$muted: #80acff;

//breakpoints
$breakpoint-small: 375px;
$breakpoint-medium: 600px;
$breakpoint-large: 900px;
$breakpoint-extra-large: 1200px;

//elevations
$elevation-0: 0 0.05rem 1rem -0.5rem rgba($black, 0.5);
$elevation-1: 0 0.1rem 3rem rgba($black, 0.08);
$elevation-2: 0 0.5rem 5rem -1rem rgba($black, 0.16);
$elevation-3: 0 0.5rem 8rem -0.5rem rgba($black, 0.16);
$elevationText-0: 0 0.05rem 1rem rgba($black, 0.5);
$elevationText-1: 0 0.1rem 3rem rgba($black, 0.08);
$elevationText-2: 0 0.5rem 5rem rgba($black, 0.16);
$elevationText-3: 0 0.5rem 8rem rgba($black, 0.16);

$translateY: 3px;
$translateX: 5px;
